*::-webkit-scrollbar {
  width: 4px !important;
  background: 0 0 !important;
  cursor: pointer !important
}

*::-webkit-scrollbar-thumb {
  background-color: #2e2624 !important;
  border-radius: 4px !important;
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 1px !important;
  background-clip: padding-box !important
}

*::-webkit-scrollbar-thumb:active {
  background-color: #2e2624 !important
}

*::-webkit-scrollbar-thumb:active,
body.platform-win32 ::-webkit-scrollbar-thumb:hover {
  border-width: 1px !important;
  background-color: #2e2624 !important;
  cursor: pointer !important
}